html{
  width: 100%;
  
 }
 
 .header{
     background-image:url(../images/ghanaresize.jpeg);
     /* background-repeat: no-repeat; */
     /* background-size: cover; */
     height: 150px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     text-align: center;
     font-size: 24px;
     width: 100%;
     color: rgb(207, 221, 220);
     text-shadow: 2px 2px 5px black;
 
 }
 
 .history{
     text-align: center;
     margin: 10px 10px 20px 10px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px; 
 
 }
 
 .form{
     padding: 10px;
     text-align: center;
     box-shadow: 4px 4px 10px gray;
     margin: 10px 20px 20px 10px;
     
 }
 
 select{
     position: relative;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin: 50px;
     width: 150px;
     height: 40px;
     background-color: aliceblue;
 }
 
 select:hover{
     color: rgb(43, 134, 111);
     box-shadow: 3px 3px 6px;
 }
 
 input{
     margin: 10px;
     height: 30px;
     border-radius: 3px;
 }
 #footer {
  padding: 32px;
  background: rgb(14, 16, 17);
  color: #fff;
  text-align: center;
}

#footer a {
  color: #c3ccd1b0;
  text-decoration: none;
}
